$src:'../../asses/activity/DailySign/';

.DailySign9{
    background-image:url($src+"contentBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 380px;
    height: 270px;
    color: white;
    position: relative;
    .title{
        position: absolute;
        top: 10px;
        font-size: 10px;
        width: 100%;
    }
    .group{
        width: 234px;
        height: 180px;
        position: relative;
        left: 10px;
        top:30px;
        font-size: 9px;
        display: flex;
        flex-wrap: wrap;
        .li1{
            width: 78px;
            height: 90px;
            background-image:url($src+"d1.png");
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
        }
        .li2{
            width: 78px;
            height: 180px;
            background-image:url($src+"d2.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            position: absolute;
            right: -80px;
        }
        .font{
            height: 15px;
            color: #EFEFD2;
        }
        .jifen{
            height: 15px;
        }
        .icon{
            width: 60px;
            height: 40px;
            margin-left: 5px;
            background-repeat: no-repeat;
            background-size: contain;
            .yilingqu{
                background-image:url($src+"yilingqu.png");
                width: 120%;
                height: 120%;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        
        .icon1{
            background-image:url($src+"icon1.png");
        }
        .icon2{
            background-image:url($src+"icon2.png");
        }
        .icon3{
            background-image:url($src+"icon3.png");
        }
        .icon4{
            background-image:url($src+"icon4.png");
        }
        .icon5{
            background-image:url($src+"icon5.png");
        }
        .icon6{
            background-image:url($src+"icon6.png");
        }
        .icon7{
            background-image:url($src+"icon7.png");
        }
    }
}
