$src:'../../asses/activity/package_9/';

.FfcBaopei_QiQu{
    background-image:url($src+"bg/ffcBaoPeiBg_QiQu.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -77px;
    width: 385px;
    height: 260px;
    color: white;
    position: relative;
    font-size: 7px;
    .group{
        width: 350px;
        height: 71px;
        position: absolute;
        left: 19px;
        top: 68px;
        font-size: 7px;
        position: relative;
        .line{
            display: flex;
            height: 14.2px;
            .li1{
                width: 46px;
            }
            .li2{
                width:  35px;
            }
            .li3{
                width: 50px;
            }
            .li4{
                width: 47px;
            }
            .li5{
                width: 40px;
            }
            .li6{
                width: 40px;
            }
            .li7{
                width: 40px;
                .btn_linqu{
                    width: 30px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .btn_Ylinqu{
                    width: 30px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        .label1{
            position: absolute;
            width: 40px;
            height: 35px;
            bottom: 0px;
            left: 5px;
            font-size: 6px;
        }
        .label2{
            position: absolute;
            width: 30px;
            height: 35px;
            bottom: 0;
            left: 50px;
        }
        .label3{
            position: absolute;
            width: 30px;
            height: 35px;
            bottom: 0;
            left: 92px;
        }
        .label4{
            position: absolute;
            width: 40px;
            height: 35px;
            bottom: 0;
            left: 222px;
            font-size: 6px;
        }
        .applyBtn{
            position: absolute;
            width: 40px;
            height: 12px;
            bottom: 40px;
            left: 300px;
            background-image:url($src+"sprite/btn_apply.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .applyFilter{
            position: absolute;
            width: 40px;
            height: 12px;
            bottom: 40px;
            left: 300px;
            background-image:url($src+"sprite/btn_apply.png");
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyYlingqu{
            background-image:url($src+"sprite/btn_done.png");
        }
        .applyBtnLabel{
            position: absolute;
            width: 40px;
            height: 20px;
            bottom: 15px;
            left: 300px;
        }
    }
    .rule{
        position: absolute;
        width: 350px;
        right: 15px;
        line-height: 7px;
        bottom: 12px;
        color: #E8C999;
        p{
            margin: 2px;
        }
    }
}
