$src:'../../asses/activity/package_9/';

.FfcBaopei_QiQu{
    background-image:url($src+"bg/ffcBaoPeiBg_QiQu.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -55px -0px;
    width: 380px;
    height: 270px;
    font-size: 5.5px;
    color: white;
    position: relative;
    .group{
        width: 350px;
        height: 71px;
        position: absolute;
        left: 23px;
        top: 56px;
        position: relative;
        .line{
            display: flex;
            height: 12px;
            .li1{
                width: 38px;
            }
            .li2{
                width:  30px;
            }
            .li3{
                width: 40px;
            }
            .li4{
                width: 40px;
            }
            .li5{
                width: 32px;
            }
            .li6{
                width: 32px;
            }
            .li7{
                width: 28px;
                .btn_linqu{
                    width: 20px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 20px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            width: 40px;
            height: 35px;
            bottom: 10px;
            left: 2px;
            font-size: 6px;
        }
        .label2{
            position: absolute;
            width: 30px;
            height: 35px;
            bottom: 10px;
            left: 42px;
        }
        .label3{
            position: absolute;
            width: 30px;
            height: 35px;
            bottom: 10px;
            left: 80px;
        }
        .label4{
            position: absolute;
            width: 40px;
            height: 35px;
            bottom: 10px;
            left: 181px;
        }
        .applyBtn{
            position: absolute;
            width: 40px;
            height: 12px;
            bottom: 40px;
            left: 245px;
            background-image:url($src+"sprite/btn_apply.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .applyFilter{
            position: absolute;
            width: 40px;
            height: 12px;
            bottom: 40px;
            left: 245px;
            background-image:url($src+"sprite/btn_apply.png");
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyYlingqu{
            background-image:url($src+"sprite/btn_done.png");
        }
        .applyBtnLabel{
            position: absolute;
            width: 40px;
            height: 20px;
            bottom: 15px;
            left: 245px;
        }
    }
    .rule{
        position: absolute;
        width: 290px;
        left: 25px;
        line-height: 7px;
        top: 132px;
        color: #E8C999;
        p{
            margin: 1px;
        }
    }
}
