$src:'../../asses/activity/package_9/';

.Lyhbp{
    background-image:url($src+"bg/event5_lyh_content.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -77px;
    width: 385px;
    height: 260px;
    font-size: 7px;
    color: white;
    position: relative;
    .group{
        width: 288px;
        height: 71px;
        position: absolute;
        left: 18px;
        top: 89px;
        font-size: 7px;
        position: relative;
        .line{
            display: flex;
            height: 14px;
            .li1{
                width: 51px;
            }
            .li2{
                width: 50px;
            }
            .li3{
                width: 52px;
            }
            .li4{
                width: 50px;
            }
            .li5{
                width: 28px;
                .btn_linqu{
                    width: 28px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .btn_Ylinqu{
                    width: 28px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        .applyBtn{
            position: absolute;
            width: 40px;
            height: 12px;
            top: 5px;
            left: 240px;
            background-image:url($src+"sprite/btn_apply.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .applyFilter{
            position: absolute;
            width: 40px;
            height: 12px;
            top: 5px;
            left: 240px;
            background-image:url($src+"sprite/btn_apply.png");
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyYlingqu{
            background-image:url($src+"sprite/btn_done.png");
        }
        .applyBtnLabel{
            position: absolute;
            width: 40px;
            height: 20px;
            top: 20px;
            left: 240px;
        }
    }
    .rule{
        position: absolute;
        width: 330px;
        right: 15px;
        line-height: 7px;
        top: 155px;
        color: #E8C999;
        font-size: 7px;
        p{
            margin: 2px;
        }
    }
}
