$src:'../../asses/activity/package_9/';

.Lyhsc{
    background-image:url($src+"bg/event12-3_lhysc_content.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -77px;
    width: 385px;
    height: 260px;
    color: white;
    position: relative;
    .group{
        width: 185px;
        height: 105px;
        position: absolute;
        left: 130px;
        top: 57px;
        padding-top: 3px;
        .line{
            display: flex;
            height: 14px;
            .li1{
                width: 50px;
            }
            .li2{
                width: 50px;
            }
            .li3{
                width: 50px;
            }
            .li4{
                width: 30px;
                .btn_linqu{
                    width: 30px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .btn_Ylinqu{
                    width: 30px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        .label1{
            position: absolute;
            left: 101px;
            top: 50px;
        }
    }
    .rule{
        position: absolute;
        width: 350px;
        left: 28px;
        line-height: 8px;
        top: 176px;
        color: #E8C999;
        font-size: 7px;
        p{
            margin: 0px;
        }
    }
}
