$src:'../../asses/activity/package_9/';

.UsdtCunKuan{
    background-image:url($src+"bg/usdtck_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 5px;
    height: 170px;
    font-size: 6px;
    width: 380px;
    color: white;
    position: relative;
    .group{
        width: 250px;
        height: 60px;
        position: absolute;
        left: 5px;
        top: 82px;
        background-image:url($src+"sprite/biao.png");
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 14px;
        .line{
            display: flex;
            height: 12.5px;
            .li1{
                width: 80px;
            }
            .li2{
                width: 42px;
            }
            .li3{
                width: 74px;
            }
            .li4{
                width: 50px;
                .btn_linqu{
                    width: 30px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .btn_Ylinqu{
                    width: 30px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        .label1{
            position: absolute;
            left: 140px;
            top: 25px;
        }
    }
    .rule{
        position: absolute;
        width: 290px;
        left:5px;
        line-height: 7px;
        height: 65px;
        bottom: -50px;
        background-image:url($src+"2.png");
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 4px;
        padding-top: 3px;
        p{
            margin: 0rem;
        }
    }
}
