$src:'../../asses/activity/package_9/';

.Xyhschd9{
    background-image:url($src+"bg/XG_event_20210623-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -77px;
    width: 385px;
    height: 260px;
    color: white;
    position: relative;
    .group{
        width:245px;
        height: 44px;
        position: absolute;
        left: 58px;
        top: 95px;
        font-size: 7px;
        padding-top: 1px;
        position: relative;
        .line{
            display: flex;
            height: 14px;
            .li1{
                width: 50px;
            }
            .li2{
                width: 50px;
            }
            .li3{
                width: 50px;
            }
            .li4{
                width: 40px;
                .btn_linqu{
                    width: 30px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .btn_Ylinqu{
                    width: 30px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        .label1{
            position: absolute;
            width: 50px;
            bottom: 3px;
            left: 100px;
        }
        .applyBtn{
            position: absolute;
            width: 50px;
            height: 15px;
            bottom: 20px;
            left: 198px;
            background-image:url($src+"sprite/btn_apply.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .applyFilter{
            position: absolute;
            width: 50px;
            height: 15px;
            bottom: 20px;
            left: 198px;
            background-image:url($src+"sprite/btn_apply.png");
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyYlingqu{
            background-image:url($src+"sprite/btn_done.png");
        }
        .applyBtnLabel{
            position: absolute;
            width: 70px;
            height: 20px;
            bottom: 1px;
            left: 189px;
        }
    }
    .rule{
        position: absolute;
        width: 340px;
        left: 23px;
        line-height: 7px;
        top: 165px;
        color: #E8C999;
        font-size: 7px;
        p{
            margin: 0.06rem;
        }
    }
}
