$src:'../../asses/activity/package_21/';

.Xyhschd21{
    background-image:url($src+"bg/xyhscBg.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 180px;
    font-size: 6px;
    margin-left: 5px;
    color: white;
    position: relative;
    .guizeBtn{
        position: absolute;
        top: 20px;
        left: 230px;
        width: 40px;
        height: 20px;
        background-image:url($src+"sprite/btn_rule.png");
        background-repeat: no-repeat;
        background-size: contain;
        .guizeMask{
            width: 270px;
            height: 120px;
            position: absolute;
            left: -215px;
            top: 15px;
            background-image:url($src+"sprite/rule_bg.png");
            background-repeat: no-repeat;
            background-size: contain;
            font-size: 6px;
            line-height: 7px;
            padding-top: 10px;
            color: rgb(233,197,168);
            p{
                margin: 0px;
                width: 260px;
                margin-left: 5px;
            }
        }
    }
    .group{
        width: 250px;
        height: 80px;
        position: absolute;
        left:82px;
        top: 40px;
        .line{
            display: flex;
            height: 11.4px;
            .li1{
                width: 38px;
            }
            .li2{
                width: 42px;
            }
            .li3{
                width: 42px;
            }
            .li4{
                width: 30px;
                .btn_linqu{
                    width: 22px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-top: 1px;
                }
                .btn_Ylinqu{
                    margin-top: 1px;
                    width: 22px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            width: 50px;
            bottom: 42px;
            left: 76px;
        }
        .applyBtn{
            position: absolute;
            width: 30px;
            height: 10px;
            bottom: 55px;
            left: 165px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .applyFilter{
            position: absolute;
            width: 30px;
            height: 10px;
            bottom: 55px;
            left: 165px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyYlingqu{
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyBtnLabel{
            position: absolute;
            width: 70px;
            height: 20px;
            bottom: 30px;
            left: 145px;
            font-size: 5.5px;
        }
    }
    .rule{
        position: absolute;
        width: 240px;
        left: 62px;
        line-height: 7px;
        top: 92px;
        color: white;
        p{
            margin: 0rem;
        }
    }
}
