$src:'../../asses/activity/package_11/';

.Xyhschd13{
    background-image:url($src+"bg/xyhsc_13.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -70px -30px;
    width: 380px;
    height: 270px;
    font-size: 6px;
    color: rgb(216,215,192);
    position: relative;
    .group{
        width: 250px;
        height: 80px;
        position: absolute;
        left: 46px;
        top: 49px;
        .title{
            height: 15px;
        }
        .line{
            display: flex;
            height: 11px;
            .li1{
                width: 38px;
            }
            .li2{
                width: 36px;
            }
            .li3{
                width: 50px;
            }
            .li4{
                width: 40px;
                .btn_linqu{
                    width: 30px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_lq.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 30px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_ylq.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            width: 50px;
            bottom: 40px;
            left: 75px;
        }
        .applyBtn{
            position: absolute;
            width: 40px;
            height: 15px;
            bottom: 50px;
            left: 170px;
            background-image:url($src+"sprite/btn_wysq.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .applyFilter{
            position: absolute;
            width: 40px;
            height: 15px;
            bottom: 50px;
            left: 170px;
            background-image:url($src+"sprite/btn_wysq.png");
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyYlingqu{
            background-image:url($src+"sprite/btn_wysq.png");
        }
        .applyBtnLabel{
            position: absolute;
            width: 50px;
            height: 20px;
            bottom: 30px;
            left: 167px;
        }
    }
    .rule{
        position: absolute;
        width: 285px;
        left: 12px;
        line-height: 7px;
        top: 110px;
        color: rgb(208,191,160);
        font-size: 5px;
        p{
            margin: 0rem;
        }
    }
}
