
.pay{
    font-family: 'Microsoft Yahei';
    font-size: 25px;
    .pay_sider{
        border-right: 1px solid rgb(237,240,243);
        .nav-item{
            height: 0.8rem;
            display: flex;
            align-items: center;
            justify-content:center;
        }
        .nav-icon{
        }
        .nav-text{
        }
    }
    .headerBox{
        width: 100%;
        height: 0.7rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.4rem;
        font-weight: bold;
    }
    .pay_content{
        margin: 10px 10px;
        height: 100%;
        padding: 24; 
        background: white;
        height:"20%";
    }
    .rightLayout{
        height: 100vh;
    }
}
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.normal-border{
    border: 1px solid rgb(197,197,197);
    cursor: pointer;
}
.cur-border{
    border: 2px solid rgb(114,194,252);
    cursor: pointer;
}
.hover-border{
    border: 1px solid rgb(197,197,197);
    cursor: pointer;
}
:hover.hover-border{
    background: rgb(224,246,254);
}