$src:'../../asses/activity/package_36/';

.Ysz{
    background-image: url($src+"bg/yszBg.jpg") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 0px;
    width: 305px;
    height: 182px;
    font-size: 6px;
    color: white;
    position: relative;
}
.Yszh5{
    background-image: url($src+"bg/yszBg.jpg") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 0px;
    width: 438px;
    height: 270px;
    font-size: 8px;
    color: white;
    position: relative;
}
