$src:'../../asses/activity/package_11/';

.Ryjhd6{
    background-image:url($src+"bg/91_event_20210929.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:5px -8px;
    width: 310px;
    height: 180px;
    font-size: 6px;
    color: white;
    position: relative;
    .group{
        width: 185px;
        height: 105px;
        position: absolute;
        left: 146px;
        top: 31px;
        padding-top: 1px;
        .line{
            display: flex;
            height: 9.8px;
            .li1{
                width: 36px;
            }
            .li2{
                width: 32px;
            }
            .li3{
                width: 33px;
            }
            .li4{
                width: 27px;
                .btn_linqu{
                    width: 20px;
                    height: 8px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 20px;
                    height: 8px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    .rule{
        position: absolute;
        width: 265px;
        left: 15px;
        line-height: 7.5px;
        top: 116px;
        color: #E8C999;
        p{
            margin: 0px;
        }
    }
}
