$src:'../../asses/activity/package_11/';

.Xyhschd6{
    background-image:url($src+"bg/event_91_20210825-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:-12px -15px;
    width: 320px;
    height: 182px;
    font-size: 5px;
    color: white;
    position: relative;
    .guizeBtn{
        position: absolute;
        top: 15px;
        left: 230px;
        width: 35px;
        height: 10px;
        background-image:url($src+"sprite/btn_rule.png");
        background-repeat: no-repeat;
        background-size: contain;
        .guizeMask{
            width: 200px;
            height: 100px;
            position: absolute;
            left: -148px;
            top: 12px;
            background-image:url($src+"sprite/rule_bg.png");
            background-repeat: no-repeat;
            background-size: contain;
            color: rgb(207,194,173);
            font-size: 5px;
            line-height: 8px;
            padding-top: 8px;
            p{
                margin: 0px;
                width: 180px;
                margin-left: 5px;
            }
        }
    }
    .group{
        width: 250px;
        height: 80px;
        position: absolute;
        left:78px;
        top: 36px;
        .line{
            display: flex;
            height: 10.5px;
            .li1{
                width: 38px;
            }
            .li2{
                width: 38px;
            }
            .li3{
                width: 38px;
            }
            .li4{
                width: 30px;
                .btn_linqu{
                    width: 22px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 22px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            width: 50px;
            bottom: 42px;
            left: 70px;
        }
        .applyBtn{
            position: absolute;
            width: 30px;
            height: 10px;
            bottom: 55px;
            left: 153px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .applyFilter{
            position: absolute;
            width: 30px;
            height: 10px;
            bottom: 55px;
            left: 153px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyYlingqu{
            background-image:url($src+"sprite/btn_done2.png");
        }
        .applyBtnLabel{
            position: absolute;
            width: 70px;
            height: 20px;
            bottom: 35px;
            left: 134px;
            font-size: 5px;
        }
    }
    .rule{
        position: absolute;
        width: 240px;
        left: 62px;
        line-height: 7px;
        top: 92px;
        color: white;
        p{
            margin: 0rem;
        }
    }
}
