$src:'../../asses/activity/package_16/';

.Lyhsc16{
    background-image: url($src+"bg/lyhscBg.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 0px;
    width: 305px;
    height: 182px;
    font-size: 6px;
    color: white;
    position: relative;
    .group{
        width: 190px;
        height: 100px;
        position: absolute;
        left: 10px;
        top: 40px;
        .line{
            display: flex;
            height: 9.6px;
            .li1{
                width: 46px;
            }
            .li2{
                width: 42px;
            }
            .li3{
                width: 44px;
            }
            .li4{
                width: 28px;
                margin-top: 1.5px;
                .btn_linqu{
                    width: 20px;
                    height: 9px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 20px;
                    height: 9px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 96px;
            top: 27px;
        }
    }
    .rule{
        position: absolute;
        width: 266px;
        left: 15px;
        line-height: 7px;
        top: 112px;
        color: #e6d6b1;
        p{
            margin: 0px;
        }
    }
}
