$src:'../../asses/activity/package_16/';

.Qpdjc{
    background-image:url($src+"bg/92_hd_di.jpg");
    background-repeat: no-repeat;
    background-position: 0px;
    width: 295px;
    height: 190px;
    font-size: 5px;
    color: white;
    position: relative;
    .bg{
        background-image:url($src+"bg/92_qpdjc.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 2px 1px;
        width: 290px;
        height: 190px;
        color: white;
        position: relative;
    }
    .Font{
        width: 100%;
        height: 20px;
        position: absolute;
        left: 6px;
        top:95px;
        display: flex;
        justify-content: center;
        .spriteFont{
            width: 16px;
            height: 20px;
            overflow: hidden;
        }
        .font{
            background-image:url($src+"sprite/num_gold.png");
            background-repeat: no-repeat;
            background-size: contain;
            display:inline-block;
            width: 200px;
            height: 20px;
        }
        .f0{ background-position: -32px 0px;}
        .f1{ background-position: -48px 0px;}
        .f2{ background-position: -64px 0px;}
        .f3{ background-position: -80px 0px;}
        .f4{ background-position: -96px 0px;}
        .f5{ background-position: -112px 0px;}
        .f6{ background-position: -128px 0px;}
        .f7{ background-position: -144px 0px;}
        .f8{ background-position: -160px 0px;}
        .f9{ background-position: -176px 0px;}
        .f10{ background-position: -16px -2px;}
        .f11{ background-position: -0px -2px;}
    }
    .group1{
        width: 280px;
        height: 45px;
        position: absolute;
        left: 6px;
        top:138px;
        .title{
            color: white;
        }
        .line{
            display: flex;
            height: 19px;
            .li1{
                width: 47px;
                font-size: 4px;
                line-height: 4px;
                color: rgb(206,182,152);
                font-size: 6px;
            }
            .li2{
                width: 185px;
                display: flex;
                flex-direction: column;
                
                .title{
                    width: 100%;
                    height: 9px;
                    display: flex;
                    .item{
                        width: 33%;
                        color: rgb(206,182,152);
                        font-size: 6px;
                    }
                }
                .content{
                    width: 100%;
                    height: 9px;
                    display: flex;
                    .item{
                        width: 33%;
                        font-size: 6px;
                    }
                }
            }
            .lingqu{
                background-image:url($src+"sprite/btn_lq.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 40px;
                height: 20px;
                margin-top: 2px;
                margin-left: 3px;
            }
            .ylingqu{
                background-image:url($src+"sprite/btn_ylq.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 40px;
                height: 20px;
                margin-top: 2px;
                margin-left: 3px;
            }
        }
    }
    .ruleBtn{
        background-image:url($src+"sprite/btn_rule.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 20px;
        position: absolute;
        left: 230px;
        top: 10px;
    }
    .rule{
        background-image:url($src+"bg/popwin_rule.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        width: 240px;
        height: 145px;
        left: 20px;
        line-height: 9px;
        top: 25px;
        color: rgb(223,216,185);
        padding: 5px;
        padding-top: 15px;
        font-size: 8px;
        font-weight: bold;
        .ruleContent{
            width: 230px;
            height: 120px;
            overflow: hidden;
            .jiantou{
                width: 240px;
                height: 20px;
                position: absolute;
                left: 0px;
                bottom: 2px;
                .arrow{
                    background-image:url($src+"sprite/arrow.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 35px;
                    height: 20px;
                }
            }
        }
        
        p{
            margin: 0px
        }
    }
}
