$src:'../../../asses/activity/package_11/';
.activity3{
    font-family: 'Microsoft Yahei';
    font-size: 8px;
    background-image:url($src+"bg/bg_1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    .headerBox{
        margin-top: 6px;
        margin-bottom: 10px;
        width: 100%;
        height: 30px;
        background: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        .returnToHall{
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url($src+"sprite/fanhui.png");
            height: 30px;
            width: 40px;
            position: absolute;
            left:0px;
            top: -5px;
        }
        .title{
            background-repeat: no-repeat;
            background-size: contain;
            height: 12px;
            width: 66px;
            position: absolute;
            right: 0px;
            top: 2px;
        }
        .dm_title_bytghl{background-image: url($src+"title/dm_title_bytghl.png")}
        .dm_title_xyhsc{background-image: url($src+"title/dm_title_xyhsc.png")}
        .dm_title_lhyschd{background-image: url($src+"title/dm_title_lhyschd.png")}
        .db_redrain{background-image: url($src+"title/db_redrain.png")}
        .xingyunlunpan{background-image: url($src+"title/xingyunlunpan.png")}
        .dm_title{background-image: url($src+"title/dm_title.png")}
        .mrqd{background-image: url($src+"title/mrqd.png")}
    }
    .contentBox{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .sider{
        background:transparent;
        width: 60px;
        height:200px;
        .navBox{
            height:200px;
            color: white;
            .navItem{
                width: 58px;
                height: 20px;
                color: rgb(161,159,155);
                padding-top:1px;
                .btnline{
                    height: 2px;
                    width: 52px;
                    background-image:url($src+"sprite/btnline.png");
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    top: -0;
                }
                .navText{
                    width: 55px;
                    height: 20px;
                    padding-left: 2%;
                    line-height: 9px;
                    justify-content: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    flex-direction: column;
                    font-size: 6px;
                    p{
                        margin: 0px;
                    }
                }
                .btn_huodong1{background-image: url($src+"menu/btn_huodong1.png")}
                .btn_huodong2{background-image: url($src+"menu/btn_huodong2.png")}
            }
            .curNavItem{
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url($src+"menu/menu_bg.png");
                background-size: contain;
                color: #fffee6;
            }
        }
    }
    .content{
       
    }
}
.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}