$src:'../../asses/activity/package_11/';

.Fxpyq{
    background-image:url($src+"bg/event_stjzhd_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: -88px -30px;
    width: 410px;
    height: 220px;
    color: white;
    position: relative;
    font-size: 7px;
    .Swiper{
        .SwiperSlide{
            background-image:url($src+"bg/event1_fxpyq_content.png");
            background-repeat: no-repeat;
            background-size: contain;
            width: 300px;
            height: 300px;
            position: relative;
            .label1{
                position: absolute;
                left: 30px;
                top: 35px;
                p{
                    color: #E8C999;
                    margin: 0px;
                }
            }
            .group{
                width: 300px;
                height: 80px;
                position: absolute;
                left: 40px;
                top: 61px;
                .line{
                    display: flex;
                    height: 12px;
                    .li1{
                        width: 68px;
                    }
                    .li2{
                        width: 60px;
                    }
                    .li3{
                        width: 68px;
                    }
                }
            }
            .label2{
                position: absolute;
                width: 240px;
                left: 35px;
                line-height: 10px;
                top: 127px;
                font-size: 6px;
                color: white;
                color: #E8C999;
                p{
                    margin: 0px;
                }
            }
            .label3{
                position: absolute;
                width: 250px;
                left: 33px;
                line-height: 6px;
                top: 185px;
                font-size: 5.5px;
                color: white;
                color: #E8C999;
                p{
                    margin: 0px;
                }
            }
        }
    }
    
}
