$src:'../../asses/activity/package_12/';

.Lyhsc2{
    background-image: url($src+"bg/event12-3_lhysc_content.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -88px -35px;
    width: 370px;
    height: 255px;
    font-size: 7px;
    color: white;
    position: relative;
    .group{
        width: 190px;
        height: 100px;
        position: absolute;
        left: 43px;
        top: 49px;
        .line{
            display: flex;
            height: 11.6px;
            .li1{
                width: 51px;
            }
            .li2{
                width: 52px;
            }
            .li3{
                width: 54px;
            }
            .li4{
                width: 32px;
                .btn_linqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 112px;
            top: 45px;
        }
    }
    .rule{
        position: absolute;
        width: 230px;
        left: 20px;
        line-height: 7px;
        top: 148px;
        font-size: 6px;
        color: #FEFFC9;
        p{
            margin: 0px;
        }
    }
}
