$src:'../../asses/activity/package_11/';

.RedRain2{
    background-image:url($src+"bg/event_db_sjfchby_content.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -70px -30px;
    width: 380px;
    height: 270px;
    font-size: 6px;
    color: white;
    position: relative;
    .group{
        width: 300px;
        height: 105px;
        position: absolute;
        left: 29px;
        top: 55px;
        .title{
            color: #CD7358;
            display: flex;
            height: 21px;
            .li1{
                width:44px;
            }
            .li2{
                width: 38px;
            }
            .li3{
                width: 38px;
            }
            .li4{
                width: 34px;
            }
            .li5{
                width:30px;
            }
            .li6{
                width:34px;
            }
            .li7{
                width:30px;
            }
        }
        .line{
            display: flex;
            height: 12px;
            .li1{
                width:44px;
            }
            .li2{
                width: 38px;
            }
            .li3{
                width: 38px;
            }
            .li4{
                width: 34px;
            }
            .li5{
                width:30px;
            }
            .li6{
                width:34px;
            }
            .li7{
                width:30px;
            }
        }
        .label1{
            position: absolute;
            left: 225px;
            top: 40px;
        }
    }
    .rule{
        position: absolute;
        width: 350px;
        left: 10px;
        line-height: 7px;
        top: 140px;
        color: #E8C999;
        p{
            margin: 3px;
        }
    }
}
