$src:'../../asses/activity/package_11/';

.Xyhschd2{
    background-image:url($src+"bg/event12-2_xhysc_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -70px -30px;
    width: 380px;
    height: 270px;
    font-size: 6px;
    color: white;
    position: relative;
    overflow: hidden;
    .bg{
        background-image:url($src+"bg/event12-2_xhysc_ren.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: -70px -30px;
        width: 380px;
        height: 270px;
        font-size: 6px;
        .navBox{
            width: 200px;
            height: 110px;
            position: absolute;
            top: 60px;
            left: 15px;
            overflow: hidden;
            .group{
                background-image:url($src+"sprite/event12-2_xhysc_frame.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 200px;
                height: 90px;
                position: relative;
                .line{
                    margin-left: 17px;
                    display: flex;
                    height: 11.8px;
                    .li1{
                        width: 66px;
                    }
                    .li2{
                        width: 60px;
                    }
                    .li3{
                        width: 55px;
                    }
                }
                .label1{
                    position: absolute;
                    width: 10px;
                    left: 6px;
                    top: 30px;
                }
                .label2{
                    position: absolute;
                    left: 160px;
                    top: 40px;
                }
            }
            .group2{
                background-image:url($src+"sprite/event12-2_xhysc_rule_bg.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 200px;
                height: 90px;
                position: relative;
                .rule{
                    font-size: 5px;
                    line-height: 6px;
                    position: absolute;
                    left: 15px;
                    top: 8px;
                    color: #FEFFC9;
                    p{
                        margin: 0px;
                    }
                }
            }
        }
        
    }
    
}
