$src:'../../asses/activity/package_2/';

.Zcs58{
    background-image: url($src+"bg/kys58.jpeg") ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 295px;
    height: 270px;
    font-size: 6px;
    margin-left: 5px;
    color: white;
    position: relative;
}
