$src:'../../../asses/activity/package_2/';
.activity2{
    font-family: 'Microsoft Yahei';
    font-size: 8px;
    background-image:url($src+"bg/bg2.png");
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position: 0px -35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    user-select:none;
    touch-action:none;
    .contentBox{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 175px;
    }
    .sider{
        background:transparent;
        width: 60px;
        height: 215px;
        background-image: url($src+"bg/bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -35px;
        .navBox{
            height:200px;
            color: white;
            .navItem{
                width: 60px;
                height: 20px;
                color: rgb(161,159,155);
                padding-top:1px;
                .btnline{
                    height: 2px;
                    width: 56px;
                    // background-image:url($src+"sprite/btnline.png");
                    // background-repeat: no-repeat;
                    // background-size: 100% 100%;
                    background: rgb(57,33,149);
                    position: absolute;
                    top: -2.5px;
                }
                .navText{
                    width: 55px;
                    height: 20px;
                    padding-left: 2%;
                    line-height: 9px;
                    justify-content: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    flex-direction: column;
                    font-size: 6px;
                    p{
                        margin: 0px;
                    }
                }
                .zcs58_1{ background-image: url($src+"menu/zcs58_1.png");}
                .zcs58_2{ background-image: url($src+"menu/zcs58_2.png");}
                .btn_lhysc1{ background-image: url($src+"menu/lyhscmenu1.png");}
                .btn_lhysc2{ background-image: url($src+"menu/lyhscmenu2.png");}
                .btn_xhysc1{ background-image: url($src+"menu/xyhscmenu1.png");}
                .btn_xhysc2{ background-image: url($src+"menu/xyhscmenu2.png");}
                .jtfl1{ background-image: url($src+"menu/jtfl1.png");}
                .jtfl2{ background-image: url($src+"menu/jtfl2.png");}
            }
            .curNavItem{
                background-size: 100% 100%;
                color: #fffee6;
            }
        }
        .version{
            position: absolute;
            left: 2px;
            top:220px;
            height: 10px;
            width: 20px;
        }
    }
    .content{
        width: 100px;
        height: 200px;
    }
}
.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}