$src:'../../asses/activity/package_18/';

.Xyhschd18{
    background-image:url($src+"bg/xyhscBg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:0px 0px;
    width: 300px;
    height: 176px;
    font-size: 5px;
    color: white;
    position: relative;
    .guizeBtn{
        position: absolute;
        top: 20px;
        left: 202px;
        width: 50px;
        height: 15px;
        background-image:url($src+"sprite/btn_rule.png");
        background-repeat: no-repeat;
        background-size: contain;
        .guizeMask{
            width: 190px;
            height: 110px;
            position: absolute;
            left: -160px;
            top: 16px;
            background-image:url($src+"bg/ruleBg.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            font-size: 5px;
            line-height: 8px;
            padding-top: 12px;
            font-weight: bold;
            p{
                margin: 0px;
                width: 180px;
                margin-left: 5px;
            }
        }
    }
    .group{
        width: 250px;
        height: 80px;
        position: absolute;
        left:50px;
        top: 62px;
        .line{
            display: flex;
            height: 10.5px;
            .li1{
                width: 40px;
            }
            .li2{
                width: 45px;
            }
            .li3{
                width: 43px;
            }
            .li4{
                width: 37px;
                .btn_linqu{
                    width: 22px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 22px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            width: 50px;
            bottom: 42px;
            left: 70px;
        }
        .applyBtn{
            position: absolute;
            width: 30px;
            height: 10px;
            bottom: 70px;
            left: 170px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .applyFilter{
            position: absolute;
            width: 30px;
            height: 10px;
            bottom: 70px;
            left: 170px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyYlingqu{
            background-image:url($src+"sprite/btn_done2.png");
        }
        .applyBtnLabel{
            position: absolute;
            width: 70px;
            height: 20px;
            bottom: 35px;
            left: 134px;
            font-size: 5px;
        }
    }
    .rule{
        position: absolute;
        width: 240px;
        left: 62px;
        line-height: 7px;
        top: 92px;
        color: white;
        p{
            margin: 0rem;
        }
    }
}
