$src:'../../asses/activity/package_10/';

.CdxHeNei{
    background-image: url($src+"bg/cdxbg_hn.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px;
    width: 310px;
    height: 180px;
    font-size: 6px;
    color: white;
    position: relative;
    .group{
        width: 220px;
        height: 90px;
        position: absolute;
        left: 10px;
        top: 40px;
        padding-top: 1.5px;
        background-image: url($src+"sprite/biao1.png") ;
        background-repeat: no-repeat;
        background-size: contain;
        .line{
            display: flex;
            height: 12.5px;
            .li1{
                width: 42px;
            }
            .li2{
                width: 42px;
            }
            .li3{
                width: 40px;
            }
            .li4{
                width: 42px;
            }
            .li5{
                width: 40px;
            }
            .li6{
                width: 43px;
                .btn_linqu{
                    width: 40px;
                    height: 12px;
                    background-image: url($src+"sprite/btn_lq.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 40px;
                    height: 12px;
                    background-image: url($src+"sprite/btn_ylq.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 3px;
            top: 40px;
        }
        .label2{
            position: absolute;
            width: 40px;
            left: 70px;
            top: 40px;
            text-align: center;
        }
        .label3{
            position: absolute;
            left: 144px;
            width: 40px;
            top: 40px;
            text-align: center;
        }
    }
    .rule{
        background: rgb(122, 132, 222);
        position: absolute;
        width: 300px;
        left: 5px;
        line-height: 8px;
        top: 118px;
        color: white;
        padding: 2px 0 0 2px;
        p{
            margin: 0px;
        }
    }
}
