$src:'../../asses/activity/package_10/';

.CdxQiQu{
    background: rgb(90,100,200);
    background-clip: border-box;
    border: 3px solid rgb(141, 172, 255);
    border-radius: 3px;
    box-shadow:0 0 9px 3px rgb(71,77,155) inset;
    background-image: url($src+"bg/cdxbg_qq.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 25px;
    width: 310px;
    height: 180px;
    font-size: 6px;
    color: white;
    position: relative;
    .group{
        width: 220px;
        height: 90px;
        position: absolute;
        left: 10px;
        top: 40px;
        padding-top: 1.5px;
        background-image: url($src+"sprite/biao1.png") ;
        background-repeat: no-repeat;
        background-size: contain;
        .line{
            display: flex;
            height: 12.5px;
            .li1{
                width: 42px;
            }
            .li2{
                width: 42px;
            }
            .li3{
                width: 40px;
            }
            .li4{
                width: 42px;
            }
            .li5{
                width: 40px;
            }
            .li6{
                width: 43px;
                .btn_linqu{
                    width: 40px;
                    height: 12px;
                    background-image: url($src+"sprite/btn_lq.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 40px;
                    height: 12px;
                    background-image: url($src+"sprite/btn_ylq.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 3px;
            top: 40px;
        }
        .label2{
            position: absolute;
            width: 30px;
            left: 77px;
            top: 40px;
            text-align: center;
        }
        .label3{
            position: absolute;
            left: 148px;
            width: 30px;
            top: 40px;
            text-align: center;
        }
    }
    .rule{
        background: rgb(122, 132, 222);
        position: absolute;
        width: 250px;
        left: 5px;
        line-height: 7px;
        padding: 1.5px;
        top: 120px;
        color: white;
        font-size: 5px;
        p{
            margin: 0px;
        }
    }
}
