$src:'../../asses/activity/package_10/';

.Lyhsc10{
    background-image: url($src+"bg/lyhsc_bg.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px;
    width: 310px;
    height: 180px;
    font-size: 6px;
    color: white;
    position: relative;
    .group{
        width: 300px;
        height: 100px;
        position: absolute;
        left: 5px;
        top: 35px;
        padding-top: 3px;
        background-image: url($src+"sprite/lyhsc_biao.png") ;
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 16px;
        .line{
            display: flex;
            height: 12px;
            .li1{
                width: 90px;
            }
            .li2{
                width: 96px;
            }
            .li3{
                width: 82px;
            }
            .li4{
                width: 72px;
                .btn_linqu{
                    width: 40px;
                    height: 12px;
                    background-image: url($src+"sprite/btn_lq.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 40px;
                    height: 12px;
                    background-image: url($src+"sprite/btn_ylq.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 185px;
            top: 40px;
        }
    }
    .rule{
        position: absolute;
        width: 300px;
        left: 5px;
        line-height: 6.5px;
        top: 126px;
        color: white;
        p{
            margin: 0px;
        }
    }
}
