$src:'../../asses/activity/package_26/';

.DailySign26{
    background-image:url($src+"bg/mflj.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:0px 0px;
    width: 320px;
    height: 185px;
    color: white;
    position: relative;
    margin-left: 1px;
    .guizeBtn{
        position: absolute;
        top: 20px;
        left: 220px;
        width: 50px;
        height: 15px;
        background-image:url($src+"sprite/ruleBtn.png");
        background-repeat: no-repeat;
        background-size: contain;
        .guizeMask{
            width: 280px;
            height: 110px;
            position: absolute;
            left: -210px;
            top: 16px;
            background-image:url($src+"sprite/ruleBg.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            font-size: 6px;
            line-height: 10px;
            padding-top: 12px;
            font-weight: bold;
            p{
                margin: 0px;
                width: 180px;
                margin-left: 5px;
            }
        }
    }
    .group{
        width: 260px;
        height: 130px;
        position: relative;
        left: 16px;
        top:45px;
        font-size: 9px;
        display: flex;
        flex-wrap: wrap;
        .li1{
            margin-right: 8px;
            width: 52px;
            height: 60px;
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            position: relative;
        }
        .font{
            height: 12px;
            width: 50px;
            margin-left: 2px;
            margin-top: 2px;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .icon{
            width: 52px;
            height: 60px;
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            position: relative;
            .yilingqu{
                background-image:url($src+"sprite/check_mask.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 52px;
                height: 60px;
                position: absolute;
                top: 0px;
                left: 0px;
            }
            .waitToCheck{
                background-image:url($src+"sprite/waitToCheck.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 26px;
                height: 10px;
                position: absolute;
                left:23px;
                top: 33px;
            }
            .foot{
                height: 10px;
                width: 30px;
                display: flex;
                flex-direction: row;
                position: absolute;
                bottom: 1px;
                left: 20px;
                .zi{
                    font-size: 7px;
                    color: rgb(255,229,98);
                    font-weight: bold;
                }
            }
        }
        
        
        .icon1{
            background-image:url($src+"sprite/day1.png");
        }
        .icon2{
            background-image:url($src+"sprite/day2.png");
        }
        .icon3{
            background-image:url($src+"sprite/day3.png");
        }
        .icon4{
            background-image:url($src+"sprite/day4.png");
        }
        .icon5{
            background-image:url($src+"sprite/day5.png");
        }
        .icon6{
            background-image:url($src+"sprite/day6.png");
        }
        .icon7{
            background-image:url($src+"sprite/day7.png");
        }
    }
}
