$src:'../../asses/activity/package_26/';

.Xyhschd26{
    background-image:url($src+"bg/xyhscBg.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 292px;
    height: 200px;
    margin-left: 5px;
    font-size: 6px;
    color: white;
    position: relative;
    .group{
        width: 250px;
        height: 80px;
        position: absolute;
        left: 12px;
        top: 53px;
        .line{
            display: flex;
            height: 10.6px;
            .li1{
                width: 46px;
            }
            .li2{
                width: 46px;
            }
            .li3{
                width: 40px;
            }
            .li4{
                width: 32px;
                .btn_linqu{
                    width: 21px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 21px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            width: 50px;
            bottom: 40px;
            left: 88px;
        }
        .applyBtn{
            position: absolute;
            width: 30px;
            height: 15px;
            bottom: 50px;
            left: 166px;
            background-image:url($src+"sprite/apply.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .applyFilter{
            position: absolute;
            width: 30px;
            height: 15px;
            bottom: 50px;
            left: 166px;
            background-image:url($src+"sprite/apply.png");
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyYlingqu{
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyBtnLabel{
            position: absolute;
            width: 70px;
            height: 20px;
            bottom: 35px;
            left: 146px;
            font-size: 5px;
        }
    }
    .ruleBtn{
        background-image: url($src+"sprite/ruleBtn.png") ;
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 12px;
        position: absolute;
        left: 220px;
        top: 90px;
    }
    .rule{
        background-image: url($src+"sprite/ruleBg3.png") ;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 20px;
        width: 240px;
        height: 120px;
        line-height: 7px;
        top: 100px;
        color: white;
        p{
            margin: 0rem;
        }
    }
}
