$src:'../../asses/activity/package_12/';

.Bwfcjl12{
    background-image:url($src+"bg/XL_event_20210802-3_content.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -88px -35px;
    width: 370px;
    height: 255px;
    color: white;
    position: relative;
    .group{
        width: 185px;
        height: 105px;
        position: absolute;
        left: 186px;
        top: 4px;
        .line{
            display: flex;
            height: 13.4px;
            .li1{
                width: 48px;
            }
            .li2{
                width: 45px;
            }
            .li3{
                width: 45px;
            }
            .li4{
                width: 30px;
                .btn_linqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    .rule{
        position: absolute;
        width: 330px;
        left: 30px;
        line-height: 7.5px;
        top: 141px;
        color: #FEFFC9;
        font-size: 7px;
        p{
            margin: 2px;
        }
    }
}
