$src:'../../asses/activity/package_12/';

.Bwfcjl12{
    background-image:url($src+"bg/XL_event_20210802-3_content.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -70px -30px;
    width: 380px;
    height: 270px;
    font-size: 6px;
    color: white;
    position: relative;
    .group{
        width: 185px;
        height: 105px;
        position: absolute;
        left: 159px;
        top: 2px;
        .line{
            display: flex;
            height: 11.3px;
            .li1{
                width: 40px;
            }
            .li2{
                width: 38px;
            }
            .li3{
                width: 38px;
            }
            .li4{
                width: 28px;
                .btn_linqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    .rule{
        position: absolute;
        width: 275px;
        left: 30px;
        line-height: 7.5px;
        top: 120px;
        color: #FEFFC9;
        font-size: 5.5px;
        p{
            margin: 0px;
        }
    }
}
