$src:'../../asses/activity/package_12/';

.Bybphd{
    background-image:url($src+"bg/XL_event_20210802-1_content.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -88px -35px;
    width: 370px;
    height: 255px;
    font-size: 7px;
    color: white;
    position: relative;
    .group{
        width: 300px;
        height: 71px;
        position: absolute;
        left:5px;
        top: 44px;
        font-size: 7px;
        position: relative;
        .line{
            display: flex;
            height: 13.5px;
            .li1{
                width: 45px;
            }
            .li2{
                width: 43px;
            }
            .li3{
                width: 48px;
            }
            .li4{
                width: 42px;
            }
            .li5{
                width: 34px;
                .btn_linqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .applyBtn{
            position: absolute;
            width: 40px;
            height: 12px;
            top: 5px;
            left: 216px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .applyFilter{
            position: absolute;
            width: 40px;
            height: 12px;
            top: 5px;
            left: 216px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyYlingqu{
            background-image:url($src+"sprite/btn_done2.png");
        }
        .applyBtnLabel{
            position: absolute;
            width: 50px;
            height: 20px;
            top: 20px;
            left: 212px;
        }
    }
    .rule{
        position: absolute;
        width: 350px;
        left: 7px;
        line-height: 6.8px;
        top: 130px;
        color: #FEFFC9;
        font-size: 6px;
        p{
            margin: 2px;
        }
    }
}
