$src:'../../asses/activity/package_12/';

.Bytghl12{
    background-image: url($src+"bg/buyutiantianle.jpg") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -5px 1px;
    width: 290px;
    height: 190px;
    font-size: 6px;
    color: white;
    position: relative;
    .guizeBtn{
        position: absolute;
        top: 15px;
        left: 175px;
        width: 50px;
        height: 30px;
        background-image:url($src+"sprite/ruleBtn2.png");
        background-repeat: no-repeat;
        background-size: contain;
        .guizeMask{
            width: 190px;
            height: 120px;
            position: absolute;
            left: -110px;
            top: 20px;
            background-image:url($src+"bg/buyuguize.png");
            background-repeat: no-repeat;
            background-size: contain;
            font-size: 5px;
            line-height: 8px;
            padding-top: 12px;
            font-weight: bold;
            p{
                margin: 0px;
                width: 180px;
                margin-left: 5px;
            }
        }
    }
    .group{
        width: 250px;
        height: 140px;
        position: absolute;
        left: 5px;
        top: 58px;
        padding-top: 1px;
        color: rgb(31,85,179);
        .line{
            display: flex;
            height: 12.7px;
            .li1{
                width: 34px;
            }
            .li2{
                width: 36px;
            }
            .li3{
                width: 34px;
            }
            .li4{
                width: 36px;
            }
            .li5{
                width: 36px;
            }
            .li6{
                width: 38px;
                .btn_linqu{
                    width: 21px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 21px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 4px;
            top: 50px;
        }
        .label2{
            position: absolute;
            left: 146px;
            top: 50px;
        }
    }
    .rule{
        position: absolute;
        width: 82px;
        left: 215px;
        line-height: 7px;
        top: 18px;
        color: #FEFFC9;
        p{
            margin: 0px;
        }
    }
}
