$src:'../../asses/activity/package_12/';

.Lyhsc12{
    background-image: url($src+"bg/qiwtu.jpg") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -5px 1px;
    width: 290px;
    height: 190px;
    font-size: 6px;
    color: white;
    position: relative;
    .guizeBtn{
        position: absolute;
        top: 8px;
        left: 165px;
        width: 50px;
        height: 30px;
        background-image:url($src+"sprite/ruleBtn2.png");
        background-repeat: no-repeat;
        background-size: contain;
        .guizeMask{
            width: 200px;
            height: 140px;
            position: absolute;
            left: -125px;
            top: 20px;
            background-image:url($src+"sprite/guize_lyhsc.png");
            background-repeat: no-repeat;
            background-size: contain;
            font-size: 5px;
            line-height: 8px;
            padding-top: 12px;
            font-weight: bold;
            p{
                margin: 0px;
                width: 180px;
                margin-left: 5px;
                color: rgb(224,198,171);
            }
        }
    }
    .group{
        width: 200px;
        height: 100px;
        position: absolute;
        left: 16px;
        top: 57px;
        font-weight: bold;
        font-size: 8px;
        .line{
            display: flex;
            height: 14.2px;
            .li1{
                width: 44px;
            }
            .li2{
                width: 48px;
            }
            .li3{
                width: 46px;
            }
            .li4{
                width: 46px;
                .btn_linqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 93px;
            top: 38px;
        }
    }
    .rule{
        position: absolute;
        width: 200px;
        left: 20px;
        line-height: 6px;
        top: 122px;
        color: #FEFFC9;
        font-size: 5.5px;
        p{
            margin: 0px;
        }
    }
}
