$src:'../../asses/activity/package_12/';

.Xyhschd12{
    background-image:url($src+"bg/XL_event_20210727-1_content.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -70px -30px;
    width: 380px;
    height: 270px;
    color: white;
    position: relative;
    font-size: 6px;
    .group{
        width: 225px;
        height: 110px;
        position: absolute;
        left: 116px;
        top: 3px;
        .line{
            display: flex;
            height: 11px;
            .li1{
                width: 40px;
            }
            .li2{
                width: 38px;
            }
            .li3{
                width: 38px;
            }
            .li4{
                width: 30px;
                .btn_linqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            width: 50px;
            bottom: 50px;
            left: 72px;
        }
        .applyBtn{
            position: absolute;
            width: 40px;
            height: 15px;
            bottom: 60px;
            left: 148px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .applyFilter{
            position: absolute;
            width: 40px;
            height: 15px;
            bottom: 60px;
            left: 148px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyYlingqu{
            background-image:url($src+"sprite/btn_done2.png");
        }
        .applyBtnLabel{
            position: absolute;
            width: 70px;
            height: 20px;
            bottom: 40px;
            left: 132px;
        }
    }
    .rule{
        position: absolute;
        width: 290px;
        left: 15px;
        line-height: 7px;
        top: 105px;
        font-size: 5.5px;
        color: #FEFFC9;
        p{
            margin: 0.02rem;
        }
    }
}
