$src:'../../../asses/activity/package_18/';
.Activity18{
    font-family: 'Microsoft Yahei';
    font-size: 6.5px;
    background-image:url($src+"bg/d_cz1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    .headerBox{
        margin-top: 6px;
        margin-bottom: 10px;
        width: 100%;
        height: 30px;
        background: transparent;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .contentBox{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 185px;
    }
    .sider{
        background:transparent;
        width: 60px;
        height: 180px;
        .navBox{
            height: 180px;
            color: white;
            .navItem{
                width: 60px;
                height: 24px;
                background-image: url($src+"sprite/bq2.png");
                background-repeat: no-repeat;
                background-size: contain;
                .navText{
                    height: 7px;
                    width:55px;
                    line-height: 11px;
                    justify-content: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    font-weight: bold;
                    p{
                        margin: 0px;
                    }
                }
            }
            .curNavItem{
                width: 60px;
                background-image: url($src+"sprite/bq1.png");
                background-repeat: no-repeat;
                background-size: contain;
                height: 24px;
            }
            .version{
                position: absolute;
                left: 2px;
                top:170px;
                height: 10px;
                width: 20px;
            }
        }
    }
    .content{
        width: 356px;
        height: 210px;
        justify-self: start;
    }
    
}
.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}