$src:'../../asses/activity/package_19/';

.Kyzcs19{
    background-image: url($src+"bg/zcs38.jpg") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:-0px -0px;
    width: 300px;
    height: 178px;
    margin-left: 5px;
    font-size: 6px;
    color: white;
    position: relative;
}
