$src:'../../asses/activity/package_19/';

.Lyhsc19{
    background-image: url($src+"bg/lyhscBg.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:-0px -0px;
    width: 300px;
    height: 179px;
    margin-left: 5px;
    font-size: 6px;
    color: white;
    position: relative;
    .group{
        width: 190px;
        height: 100px;
        position: absolute;
        left: 34px;
        top: 44px;
        .line{
            display: flex;
            height: 11.1px;
            .li1{
                width: 46px;
            }
            .li2{
                width:54px;
            }
            .li3{
                width: 42px;
            }
            .li4{
                width: 32px;
                margin-left: 1px;
                .btn_linqu{
                    width: 30px;
                    height: 9px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 30px;
                    height: 9px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 105px;
            top: 20px;
        }
    }
    .rule{
        position: absolute;
        width: 275px;
        left: 10px;
        line-height: 7px;
        top: 116px;
        color: rgb(207,194,173);
        p{
            margin: 0px;
        }
    }
}
