$src:'../../asses/activity/package_19/';

.Xyhbp19{
    background-image:url($src+"bg/xyhbpBg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:-0px -0px;
    width: 300px;
    height: 178px;
    margin-left: 5px;
    font-size: 5px;
    color: white;
    position: relative;
    .guizeBtn{
        position: absolute;
        top: 60px;
        left: 220px;
        width: 35px;
        height: 20px;
        background-image:url($src+"sprite/ruleBtn2.png");
        background-repeat: no-repeat;
        background-size: contain;
        .guizeMask{
            width: 240px;
            height: 105px;
            position: absolute;
            left: -200px;
            top: 12px;
            background-image:url($src+"sprite/rule_bg.png");
            background-repeat: no-repeat;
            background-size: contain;
            color: rgb(207,194,173);
            font-size: 6px;
            line-height: 7.5px;
            padding-top: 8px;
            p{
                margin: 0px;
                width: 230px;
                margin-left: 5px;
            }
        }
    }
    .group{
        width: 300px;
        height: 71px;
        position: absolute;
        left: 12px;
        top:58px;
        position: relative;
        .line{
            display: flex;
            height: 10px;
            .li1{
                width: 32px;
            }
            .li2{
                width: 34px;
            }
            .li3{
                width: 38px;
            }
            .li4{
                width: 36px;
            }
            .li5{
                width: 30px;
                .btn_linqu{
                    width: 20px;
                    height: 9px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 20px;
                    height: 9px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .applyBtn{
            position: absolute;
            width: 25px;
            height: 10px;
            top: 10px;
            left: 175px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .applyFilter{
            position: absolute;
            width: 25px;
            height: 10px;
            top: 10px;
            left: 175px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyYlingqu{
            background-image:url($src+"sprite/btn_done2.png");
        }
        .applyBtnLabel{
            position: absolute;
            width: 40px;
            height: 20px;
            top: 18px;
            left: 167px;
            font-size: 5px;
            line-height: 6px;
        }
    }
    .rule{
        position: absolute;
        width: 255px;
        left: 18px;
        line-height: 6.5px;
        top: 88px;
        color: #FEFFC9;
        font-size: 5.5px;
        p{
            margin: 0px;
        }
    }
}
