$src:'../../asses/activity/package_20/';

.Lyhsc20{
    margin-left: 4px;
    margin-top: 4px;
    background-image:url($src+"bg/di2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0px;
    width: 280px;
    height: 180px;
    font-size: 6px;
    color: white;
    position: relative;
    .bg{
        background-image: url($src+"bg/lyhscBg.png") ;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: -72px -20px;
        width: 360px;
        height: 210px;
        color: white;
        position: relative;
    }
    .guizeBtn{
        position: absolute;
        top: 88px;
        left: 160px;
        width: 50px;
        height: 15px;
        background-image:url($src+"sprite/btn.png");
        background-repeat: no-repeat;
        background-size: contain;
        .guizeMask{
            width: 260px;
            height: 70px;
            position: absolute;
            left: -145px;
            top: 14px;
            background-image:url($src+"sprite/lyhscRuleBg.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            font-size: 6px;
            line-height: 7px;
            padding-top: 8px;
            font-weight: bold;
            p{
                margin: 0px;
                width: 250px;
                margin-left: 5px;
            }
        }
    }
    .group{
        width: 190px;
        height: 100px;
        position: absolute;
        left: 26px;
        top: 44px;
        .line{
            display: flex;
            height: 9.7px;
            .li1{
                width: 29px;
            }
            .li2{
                width: 32px;
            }
            .li3{
                width: 34px;
            }
            .li4{
                width: 30px;
                .btn_linqu{
                    margin-top: 1px;
                    width: 20px;
                    height: 10px;
                    background-image: url($src+"sprite/jd_event_btn_linqui.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    margin-top: 1px;
                    width: 20px;
                    height: 10px;
                    background-image: url($src+"sprite/jd_event_btn_done.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 64px;
            top: 25px;
            font-size: 5px;
        }
    }
}
