$src:'../../asses/activity/package_20/';

.Yjbhd20{
    margin-left: 4px;
    margin-top: 4px;
    background-image:url($src+"bg/di2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0px;
    width: 280px;
    height: 180px;
    font-size: 6px;
    color: white;
    position: relative;
    .bg{
        background-image:url($src+"bg/yjbBg.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: -10px 0px;
        width: 270px;
        height: 180px;
        color: white;
        position: relative;
        left: 10px;
    }
    .group{
        width: 220px;
        height: 130px;
        position: absolute;
        left: 52px;
        top: 30px;
        overflow: hidden;
        .title{
            font-size: 7px;
            font-weight: bold;
            height: 15px;
            display: flex;
            .li1{
                width: 40px;
            }
            .li2{
                width: 56px;
            }
            .li3{
                width: 42px;
            }
            .li4{
                width: 40px;
            }
            .li5{
                width: 40px;
            }
        }
        .line{
            display: flex;
            height: 11px;
            .li1{
                width: 40px;
            }
            .li2{
                width: 56px;
            }
            .li3{
                width: 42px;
            }
            .li4{
                width: 40px;
            }
            .li5{
                width: 40px;
                .btn_linqu{
                    margin-top: 2px;
                    width: 25px;
                    height: 11px;
                    background-image: url($src+"sprite/jd_event_btn_linqui.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    margin-top: 2px;
                    width: 25px;
                    height: 11px;
                    background-image: url($src+"sprite/jd_event_btn_done.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    .foot{
        position: absolute;
        left: 78px;
        top: 160px;
        width: 195px;
        height: 10px;
        display: flex;
        justify-content: space-between;
        .icon2{
            width: 60px;
            height: 10px;
            margin-left: 5px;
            padding-left: 2px;
            line-height: 10px;
            font-size: 8px;
        }
    }
    .guizeBtn{
        position: absolute;
        top: 32px;
        left: 232px;
        width: 35px;
        height: 20px;
        background-image:url($src+"sprite/btn.png");
        background-repeat: no-repeat;
        background-size: contain;
        .guizeMask{
            width: 180px;
            height: 100px;
            position: absolute;
            left: -145px;
            top: 12px;
            background-image:url($src+"sprite/xyhscRuleBg.png");
            background-repeat: no-repeat;
            background-size: contain;
            line-height: 8px;
            padding-top: 8px;
            font-size: 7px;
            p{
                margin: 0px;
                width: 170px;
                margin-left: 5px;
            }
        }
    }
}
