.Loading9{
    background-image:url("./asses/activity/package_9/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.Loading10{
    background-image:url("./asses/activity/package_10/bj_da.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.Loading11{
    background-image:url("./asses/activity/package_11/bg/bg_1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.Loading12{
    background-image:url("./asses/activity/package_12/bg/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}