$src:'../../asses/activity/package_11/';

.Bytghl{
    background-image: url($src+"bg/event_xh_bytghl_content.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -70px -30px;
    width: 380px;
    height: 270px;
    font-size: 6px;
    color: white;
    position: relative;
    .group{
        width: 250px;
        height: 140px;
        position: absolute;
        left: 10px;
        top: 55px;
        padding-top: 1px;

        .line{
            display: flex;
            height: 11.5px;
            .li1{
                width: 36px;
            }
            .li2{
                width: 34px;
            }
            .li3{
                width: 38px;
            }
            .li4{
                width: 32px;
            }
            .li5{
                width: 32px;
            }
            .li6{
                width: 28px;
                .btn_linqu{
                    width: 21px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_linqu.1.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 21px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_Ylinqu.1.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 5px;
            top: 55px;
        }
        .label2{
            position: absolute;
            left: 145px;
            top: 55px;
        }
    }
    .rule{
        position: absolute;
        width: 82px;
        left: 215px;
        line-height: 7px;
        top: 18px;
        color: #FEFFC9;
        p{
            margin: 0px;
        }
    }
}
