$src:'../../asses/activity/package_11/';

.Lyhsc11{
    background-image: url($src+"bg/event_db_lhysc_content11.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -70px -30px;
    width: 380px;
    height: 270px;
    font-size: 6px;
    color: white;
    position: relative;
    .group{
        width: 190px;
        height: 100px;
        position: absolute;
        left: 16px;
        top: 40px;
        .line{
            display: flex;
            height: 10px;
            .li1{
                width: 46px;
            }
            .li2{
                width: 42px;
            }
            .li3{
                width: 44px;
            }
            .li4{
                width: 28px;
                .btn_linqu{
                    width: 20px;
                    height: 12px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 20px;
                    height: 12px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 96px;
            top: 27px;
        }
    }
    .rule{
        position: absolute;
        width: 266px;
        left: 20px;
        line-height: 7.5px;
        top: 104px;
        color: #FEFFC9;
        p{
            margin: 0px;
        }
    }
}
