$src:'../../asses/activity/package_11/';

.Lyhsc11{
    background-image: url($src+"bg/event_xh_20210913.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -8px -14px;
    width: 305px;
    height: 200px;
    font-size: 6px;
    color: white;
    position: relative;
    .group{
        width: 190px;
        height: 100px;
        position: absolute;
        left: 16px;
        top: 42px;
        .line{
            display: flex;
            height: 9.1px;
            .li1{
                width: 43px;
            }
            .li2{
                width: 41px;
            }
            .li3{
                width: 42px;
            }
            .li4{
                width: 27px;
                .btn_linqu{
                    width: 20px;
                    height: 8px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 20px;
                    height: 8px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 89px;
            top: 29px;
        }
    }
    .rule{
        position: absolute;
        width: 250px;
        left: 20px;
        line-height: 7.5px;
        top: 122px;
        color: #FEFFC9;
        p{
            margin: 0px;
        }
    }
}
