$src:'../../asses/activity/package_11/';

.Xyhschd11{
    background-image:url($src+"bg/XG_event_20210623-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -70px -30px;
    width: 380px;
    height: 270px;
    font-size: 6px;
    color: white;
    position: relative;
    .group{
        width: 250px;
        height: 80px;
        position: absolute;
        left: 19px;
        top: 51px;
        .line{
            display: flex;
            height: 12px;
            .li1{
                width: 44px;
            }
            .li2{
                width: 40px;
            }
            .li3{
                width: 42px;
            }
            .li4{
                width: 36px;
                .btn_linqu{
                    width: 20px;
                    height: 12px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 20px;
                    height: 12px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            width: 50px;
            bottom: 48px;
            left: 80px;
        }
        .applyBtn{
            position: absolute;
            width: 40px;
            height: 15px;
            bottom: 60px;
            left: 165px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .applyFilter{
            position: absolute;
            width: 40px;
            height: 15px;
            bottom: 60px;
            left: 165px;
            background-image:url($src+"sprite/btn_apply2.png");
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
        }
        .applyYlingqu{
            background-image:url($src+"sprite/btn_done2.png");
        }
        .applyBtnLabel{
            position: absolute;
            width: 70px;
            height: 20px;
            bottom: 42px;
            left: 150px;
        }
    }
    .rule{
        position: absolute;
        width: 285px;
        left: 10px;
        line-height: 7px;
        top: 105px;
        color: white;
        p{
            margin: 0rem;
        }
    }
}
