$src:'../../../asses/activity/package_10/';
.activity10{
    font-family: 'Microsoft Yahei';
    font-size: 8px;
    background-image:url($src+"bj_da.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    .headerBox{
        margin-top: 6px;
        margin-bottom: 10px;
        width: 100%;
        height: 30px;
        background: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        .returnToHall{
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url($src+"sprite/fanhui.png");
            height: 30px;
            width: 50px;
            position: absolute;
            left:0px;
            top: 0px;
        }
        .title_jchd{
            background-image: url($src+"sprite/jchd.png");
            background-repeat: no-repeat;
            background-size: contain;
            height: 20px;
            width: 80px;
            margin-left: 5px;
        }
    }
    .contentBox{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .sider{
        background:transparent;
        width: 100px;
        height: 220px;
        .navBox{
            height: 220px;
            overflow: hidden;
            color: white;
            .navItem{
                width: 80px;
                height: 30px;
                background-image: url($src+"sprite/anniu2.png");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                .navText{
                    height: 10px;
                    width: 60px;
                    padding-left: 2%;
                    line-height: 11px;
                    justify-content: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .zsbp1{ background-image: url($src+"menu/zsbp1.png");}
                .zsbp2{ background-image: url($src+"menu/zsbp2.png");}
                .hnly1{ background-image: url($src+"menu/hnly1.png");}
                .hnly2{ background-image: url($src+"menu/hnly2.png");}
                .qqly1{ background-image: url($src+"menu/qqly1.png");}
                .qqly2{ background-image: url($src+"menu/qqly2.png");}
                .bphn1{ background-image: url($src+"menu/bphn1.png");}
                .bphn2{ background-image: url($src+"menu/bphn2.png");}
                .AGA1{ background-image: url($src+"menu/AGA1.png");}
                .AGA2{ background-image: url($src+"menu/AGA2.png");}
                .xyhbp1{ background-image: url($src+"menu/xyhbp1.png");}
                .xyhbp2{ background-image: url($src+"menu/xyhbp2.png");}
                .xyh1{ background-image: url($src+"menu/xyh1.png");}
                .xyh2{ background-image: url($src+"menu/xyh2.png");}
                .lyh1{ background-image: url($src+"menu/lyh1.png");}
                .lyh2{ background-image: url($src+"menu/lyh2.png");}
                .bpqq1{ background-image: url($src+"menu/bpqq1.png");}
                .bpqq2{ background-image: url($src+"menu/bpqq2.png");}

            }
            .curNavItem{
                width: 100px;
                padding-right: 20px;
                background-image: url($src+"sprite/anniu1.png");
                background-repeat: no-repeat;
                background-size: contain;
                height: 32px;
            }
        }
    }
    .content{
        width: 356px;
        height: 210px;
        justify-self: start;
    }
}
.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}