$src:'../../asses/activity/package_12/';

.Bytghl8{
    background-image: url($src+"bg/xs_event_content_20211029-2.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 3px -2px;
    width: 310px;
    height: 183px;
    font-size: 6px;
    color: white;
    position: relative;
    .guizeBtn{
        position: absolute;
        top: 55px;
        left: 220px;
        width: 40px;
        height: 15px;
        background-image:url($src+"sprite/btn_rule.png");
        background-repeat: no-repeat;
        background-size: contain;
        .guizeMask{
            width: 190px;
            height: 90px;
            position: absolute;
            left: -140px;
            top: 16px;
            background-image:url($src+"bg/ruleBg.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            font-size: 5px;
            line-height: 8px;
            padding-top: 12px;
            font-weight: bold;
            p{
                margin: 0px;
                width: 180px;
                margin-left: 5px;
            }
        }
    }
    .group{
        width: 250px;
        height: 140px;
        position: absolute;
        left: 12px;
        top: 57px;
        padding-top: 1px;

        .line{
            display: flex;
            height: 11.6px;
            .li1{
                width: 40px;
            }
            .li2{
                width: 36px;
            }
            .li3{
                width: 40px;
            }
            .li4{
                width: 34px;
            }
            .li5{
                width: 30px;
            }
            .li6{
                width: 28px;
                .btn_linqu{
                    width: 21px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 21px;
                    height: 10px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 8px;
            top: 55px;
        }
        .label2{
            position: absolute;
            left: 152px;
            top: 55px;
        }
    }
    .rule{
        position: absolute;
        width: 82px;
        left: 215px;
        line-height: 7px;
        top: 18px;
        color: #FEFFC9;
        p{
            margin: 0px;
        }
    }
}
