$src:'../../asses/activity/package_12/';

.Lyhsc8{
    background-image: url($src+"bg/event12-3_lhysc_content.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -10px -14px;
    width: 320px;
    height: 200px;
    font-size: 6px;
    color: white;
    position: relative;
    .guizeBtn{
        position: absolute;
        top: 50px;
        left: 185px;
        width: 40px;
        height: 15px;
        background-image:url($src+"sprite/btn_rule.png");
        background-repeat: no-repeat;
        background-size: contain;
        .guizeMask{
            width: 185px;
            height: 90px;
            position: absolute;
            left: -140px;
            top: 16px;
            background-image:url($src+"bg/rule_bg.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            font-size: 5px;
            line-height: 8px;
            padding-top: 12px;
            font-weight: bold;
            p{
                margin: 0px;
                width: 180px;
                margin-left: 5px;
                color: rgb(224,198,171);
            }
        }
    }
    .group{
        width: 200px;
        height: 100px;
        position: absolute;
        left: 16px;
        top: 51px;
        .line{
            display: flex;
            height: 13.1px;
            .li1{
                width: 42px;
            }
            .li2{
                width: 44px;
            }
            .li3{
                width: 44px;
            }
            .li4{
                width: 32px;
                .btn_linqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_linqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .btn_Ylinqu{
                    width: 26px;
                    height: 11px;
                    background-image: url($src+"sprite/btn_Ylinqu.png") ;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .label1{
            position: absolute;
            left: 95px;
            top: 42px;
        }
    }
    .rule{
        position: absolute;
        width: 200px;
        left: 20px;
        line-height: 6px;
        top: 122px;
        color: #FEFFC9;
        font-size: 5.5px;
        p{
            margin: 0px;
        }
    }
}
